@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Lexend:wght@100..900&display=swap');


.MainPage{
    margin-top: 30px;
    margin-right: 5px;
    margin-bottom: 30px;
}   

body{
    background-color: var(--Background-color);
}

.TitleAbout{
    font-family:'Jost', 'Times New Roman', Times, serif;
    font-size: 40px;
    color: var(--text-color);  
    position: relative;
    text-decoration: none;
    cursor: pointer;
}

.TitleAbout::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px; 
    background-color:var(--text-color); 
    transition: width 0.3s ease-in-out; 
}


.Description{
    font-family: 'lexend', 'Times New Roman', Times, serif;
    font-size: 18px;
    color: var(--text-color);
    margin-top: 20px;
    margin-right: 30px;
}

.experience{
    width: 400px;
}


.Education{
    width: 400px;
}

.Information{
    margin-top: 20px;
}

.TitleExperience{
    font-family:'Jost', 'Times New Roman', Times, serif;
    font-size: 40px;
    color: var(--text-color);
    position: relative;
    text-decoration: none;
    cursor: pointer;
}

.TitleExperience::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px; 
    background-color:var(--text-color); 
    transition: width 0.3s ease-in-out; 
}


.TitleEducation{
    font-family:'Jost', 'Times New Roman', Times, serif;
    font-size: 40px;
    color: var(--text-color);
    position: relative;
    text-decoration: none;
    cursor: pointer;
}

.TitleEducation::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px; 
    background-color:var(--text-color); 
    transition: width 0.3s ease-in-out; 
}


.TitlePersonalProject{
    font-family:'Jost', 'Times New Roman', Times, serif;
    font-size: 40px;
    color: var(--text-color);
    position: relative;
    text-decoration: none;
    cursor: pointer;
}

.TitlePersonalProject::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px; 
    background-color:var(--text-color); 
    transition: width 0.3s ease-in-out; 
}

.TitleSkills{
    font-family:'Jost', 'Times New Roman', Times, serif;
    font-size: 40px;
    color: var(--text-color);
    position: relative;
    text-decoration: none;
    cursor: pointer;
}

.TitleSkills::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px; 
    background-color:var(--text-color); 
    transition: width 0.3s ease-in-out; 
}



.DescriptionSize{
    width: 350px;

}

.Date{
    color: var(--text-color);
    margin-top: 20px;
    font-family: 'lexend','Times New Roman', Times, serif;
    font-style: italic;
}

.Work{
    color: var(--text-color);
    font-family: 'Jost', 'Times New Roman', Times, serif;
}

.SecondPage{
    display: flex;
    margin-top: 20px;
    flex-direction: column;
}


.BorderProject{
    border: none;
    width: 300px;
    border-radius: 20px;
}

.list{
    color: var(--text-color);
    font-family: 'lexend', 'Times New Roman', Times, serif;
    margin-left: 20px;
 
}

.SkillPage{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.SecondaryPage{
    margin-top: 20px;
}

.SkillsPage{
    margin-left: 10px;
}

.list2{
    color: var(--text-color);
    font-family: 'lexend', 'Times New Roman', Times, serif;
    margin-left: 20px;
    list-style:circle;
}

#Hardskills{
    margin-top: 20px;
}